# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Files
requests_cache.sqlite
db.sqlite3
geckodriver.log
testfile.xlsx
.DS_Store
*.project
*.swp
*.pyc
*.csv
*.xlsx
*.xls
*.sublime*
ui_*.py
*_rc.py
*.xlsx
*.csv
*draft*

# Dir
__pycache__
.cache
.idea
.temp
.env
.venv
build
dist
info
static/
media/

